<h1>Carga de productos</h1>

<div class="formulario">
  <form onsubmit="return enviarProducto()" class="form">
    <label for="title">Product:</label>
    <input type="text" id="title"  placeholder="Product"/>
    <label for="price">Price:</label>
    <input type="number" id="price" placeholder="Price"/>
    <label for="thumbnail">Product Url:</label>
    <input type="text" id="thumbnail"  placeholder="Thumbnail Url"/>
    <button type="submit" class="btn">Guardar nuevo producto</button>
  </form>
</div>
<h2>Tabla de Productos</h2>
<div id="products"></div>
<h2>Chat en vivo</h2>
<div class="chat">
  <form onsubmit="return enviarMensaje()">
    <input type="text" id="author" placeholder="Email" />
    <input type="text" id="text" placeholder="Escriba su mensaje" />
    <button type="submit" class="btn">Enviar</button>
  </form>
  <div id="messages"></div>

</div>